<section id="about" class="flex flex-col items-start gap-10 p-20">
  <div class="flex w-full flex-col items-start gap-8 px-8 py-0">
    <div class="flex items-start gap-[0.625rem]">
      <p class="font-[Inter] text-4xl font-extrabold leading-[2.75rem] text-[#23282F]">
        A bit more about me
      </p>
    </div>
    <div class="flex items-start gap-8">
      <p class="w-1/2 font-[Inter] text-base font-normal leading-6 text-[#45505E]">
        I'm Georgi Dimitrov, a software developer based in Denmark.
        I started coding more than five years ago during my courses from the Bulgarian Ministry of Education.
        I relocated to Copenhagen to pursue my dream of becoming a professional software developer three years ago.
        The journey was filled with small victories, significant setbacks, and everything in between.
        <br /><br />
        This experience sparked my interest in technology and design.
        I did my first longer-than-a-month internship at MakeImpact about 2 years later.
        This internship quickly became a pleasurable and rewarding experience.
        Sadly it had to finish after I graduated with collaboration project with the company.
      </p>
      <p class="w-1/2 font-[Inter] text-base font-normal leading-6 text-[#45505E]">
        As a computer science graduate, I have a deep understanding of how different app layers are constructed and implemented in code.
        I've honed my skills to master the entire product design process,
        from ideation and research to developing fundamental design systems, high-fidelity mockups, and interactive prototypes,
        driven by a passion for creating digital products.
        <br /><br />
        Since then, I've been studying Software Engineering in order to improve my skills and knowledge.
        Now I'm looking for my next software development adventure.
        Let's connect and see how we can collaborate to innovate and create.
      </p>
    </div>
  </div>
  <div class="flex w-full flex-col items-start gap-4">
    <div
      class="flex w-full items-center justify-center gap-4 rounded-lg border border-solid p-4"
    >
      <ng-container *ngFor="let category of categories; let i = index">
        <div
          class="flex flex-1 flex-col items-center gap-8 self-stretch rounded-lg p-8"
        >
          <h5 class="font-[Inter] text-[1.375rem] font-semibold leading-8 text-[#23282F]">
            {{ category }}
          </h5>
          <div class="flex flex-col items-center gap-12">
            <ng-container *ngFor="let group of techCardsGrouped">
              <ng-container *ngIf="group[0].category == category">
                <div class="flex items-center gap-12">
                  <ng-container *ngFor="let card of group">
                    <app-tech-card [techCard]="card"></app-tech-card>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <hr
          *ngIf="i < categories.size - 1"
          class="h-80 w-[0.0625rem] bg-slate-600"
        />
      </ng-container>
    </div>
    <div class="flex w-full flex-col justify-center items-center gap-8">
    <h3 class="font-[Inter] text-xl font-normal">Legend</h3>
    <div class="flex justify-evenly items-center w-full gap-1">
      <div class="flex justify-center items-center">
        <div class="w-4 h-4 m-1">
          <img src="assets/star.svg" class="object-left">
        </div>
        <p class="font-[Inter] text-[0.75rem] m-0 mx-1 p-0"> - </p>
        <p class="font-[Inter] text-[0.75rem] m-0 p-0">Beginning to grasp basic syntax and writing simple code</p>
      </div>
      <div class="flex justify-center items-center"><div class="w-4 h-4 m-1"><img src="assets/star.svg" class="object-left"></div><div class="w-4 h-4 m-1"><img src="assets/star.svg" class="object-left"></div><p class="font-[Inter] text-[0.75rem] m-0 p-0 mx-1"> - </p><p class="font-[Inter] text-[0.75rem] m-0 p-0">Capable of tackling more substantial projects</p></div>
      <div class="flex justify-center items-center"><div class="w-4 h-4 m-1"><img src="assets/star.svg" class="object-left"></div><div class="w-4 h-4 m-1"><img src="assets/star.svg" class="object-left"></div><div class="w-4 h-4 m-1"><img src="assets/star.svg" class="object-left"></div><p class="font-[Inter] text-[0.75rem] m-0 p-0 mx-1"> - </p><p class="font-[Inter] text-[0.75rem] m-0 p-0">Proficient in core language features</p></div>
      <div class="flex justify-center items-center"><div class="w-4 h-4 m-1"><img src="assets/star.svg" class="object-left"></div><div class="w-4 h-4 m-1"><img src="assets/star.svg" class="object-left"></div><div class="w-4 h-4 m-1"><img src="assets/star.svg" class="object-left"></div><div class="w-4 h-4 m-1"><img src="assets/star.svg" class="object-left"></div><p class="font-[Inter] text-[0.75rem] m-0 p-0 mx-1"> - </p><p class="font-[Inter] text-[0.75rem] m-0 p-0">Highly skilled, can optimize code for performance</p></div>
      <div class="flex justify-center items-center"><div class="flex justify-center items-center"><div class="w-4 h-4 m-1"><img src="assets/star.svg" class="object-left"></div><div class="w-4 h-4 m-1"><img src="assets/star.svg" class="object-left"></div><div class="w-4 h-4 m-1"><img src="assets/star.svg" class="object-left"></div><div class="w-4 h-4 m-1"><img src="assets/star.svg" class="object-left"></div><div class="w-4 h-4 m-1"><img src="assets/star.svg" class="object-left"></div><p class="font-[Inter] text-[0.75rem] m-0 p-0 mx-1 text-center"> - </p></div><p class="font-[Inter] text-[0.75rem] m-0 p-0">Acknowledged as a language specialist</p></div>
    </div>
  </div>
  </div>
</section>
