<section
  class="flex h-fit w-full flex-col items-start justify-start gap-20 p-20 pt-0 bg-primary dark:bg-primary-dark"
>
  <div class="flex items-center gap-8 self-stretch xl:p-20">
    <div class="flex flex-1 flex-col items-start gap-8">
      <div class="flex flex-col items-start gap-4 self-stretch">
        <h1 class="font-[Inter] text-5xl font-extrabold leading-[3.5rem] text-primary-dark dark:text-primary">
          Creating efficient <span class="text-tertiary">software solutions</span> that matter
        </h1>
        <p class="font-[Inter] text-base font-normal leading-6 text-secondary dark:text-secondary-dark">
          With a focus on web applications, I help you find solutions that are
          intuitive and in accordance with user as well as business goals.
        </p>
      </div>
      <div class="flex items-start gap-4">
        <a href="mailto:georgi.dimitrov.1112@gmail.com" class=" no-underline group ">
        <button
          class="flex rounded px-6 py-[0.875rem] text-center font-[Inter] border text-primary bg-primary-dark dark:text-primary-dark  dark:bg-primary group-hover:text-primary-dark group-hover:bg-primary dark:group-hover:bg-primary-dark dark:group-hover:text-primary dark:group-hover:border-primary group-hover:border-primary-dark"
        >
          Contact me
        </button>
      </a>
        <a href="assets/Georgi Dimitrov CV.pdf" download class="no-underline">
        <button
          class="flex rounded border border-solid px-6 py-[0.875rem] text-center font-[Inter] text-primary-dark border-secondary dark:text-secondary-dark dark:border-secondary-dark"
        >
          View resume
        </button>
      </a>
      </div>
    </div>
    <div class="xl:flex hidden items-start gap-3">
      <img
        class="flex h-[28rem] w-[28rem] items-center justify-center gap-[0.625rem] rounded-[0.3125rem]"
        src="assets/profile.jpeg"
      />
    </div>
  </div>
</section>
