<div class="flex w-full flex-col items-start gap-8 px-8 py-0">
  <div class="flex items-start gap-[0.625rem]">
    <p class="font-[Inter] text-4xl font-extrabold leading-[2.75rem] text-primary-dark dark:text-primary">
      A bit more about me
    </p>
  </div>
  <div class="flex xl:flex-row flex-col items-start gap-8">
    <p class="xl:w-1/2 w-full font-[Inter] text-base font-normal leading-6 text-secondary dark:text-secondary-dark">
      I'm Georgi Dimitrov, a software developer based in Denmark.
      I started coding more than five years ago during my courses from the Bulgarian Ministry of Education.
      I relocated to Copenhagen to pursue my dream of becoming a professional software developer three years ago.
      The journey was filled with small victories, significant setbacks, and everything in between.
      <br /><br />
      This experience sparked my interest in technology and design.
      I did my first longer-than-a-month internship at MakeImpact about 2 years later.
      This internship quickly became a pleasurable and rewarding experience.
      Sadly it had to finish after I graduated with collaboration project with the company.
    </p>
    <p class="xl:w-1/2 w-full font-[Inter] text-base font-normal leading-6 text-secondary dark:text-secondary-dark">
      As a computer science graduate, I have a deep understanding of how different app layers are constructed and implemented in code.
      I've honed my skills to master the entire product design process,
      from ideation and research to developing fundamental design systems, high-fidelity mockups, and interactive prototypes,
      driven by a passion for creating digital products.
      <br /><br />
      Since then, I've been studying Software Engineering in order to improve my skills and knowledge.
      Now I'm looking for my next software development adventure.
      Let's connect and see how we can collaborate to innovate and create.
    </p>
  </div>
</div>
