<section
  id="footer"
  class="flex w-full flex-col items-start justify-center gap-4 px-20 pb-4 bg-primary dark:bg-primary-dark border-none"
>
  <div class="flex flex-col items-start gap-2 self-stretch border-t p-4 pb-0 border-none" >
    <div class="flex flex-col items-center gap-4 self-stretch">
      <div class="flex items-start gap-8">
            <ng-container *ngFor="let social of socials">
              <a href={{social.link}} class="w-6 h-6 flex justify-center items-center dark:p-1 dark:bg-primary dark:rounded-lg dark:w-7 dark:h-7" target="_blank" rel="noopener noreferrer">
                <img src={{social.icon}}>
              </a>
            </ng-container>
      </div>
      <div class="flex items-start gap-1">
        <p class="font-[Inter] text-sm leading-[1.375rem] text-[#68788D]">
          © 2023 Georgi Dimitrov
        </p>
      </div>
    </div>
  </div>
</section>
