<section id="testimonials" class="flex flex-col items-center justify-end gap-10 p-20">
  <c-carousel>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let testimonial of testimonials">
        <div
          class="flex flex-col items-center gap-12 self-stretch rounded-xl bg-slate-600 p-20"
        >
          <div class="flex flex-col items-center gap-4 self-stretch">
            <p
              class="text-center text-base font-medium leading-5 text-[#5A7CFF] font-[Inter]"
            >
              {{ testimonial.role }}
            </p>
            <h4
              class="self-stretch text-center text-2xl font-semibold leading-[2.75rem] text-[#F1F5F9] font-[Inter]"
            >
              {{ testimonial.content }}
            </h4>
          </div>
          <div class="flex flex-col items-center justify-center gap-3">
            <div class="h-12 w-12 rounded-full bg-white">
              <img src="{{ testimonial.imgUrl }}" />
            </div>
            <div
              class="flex flex-col items-center justify-center gap-[0.125rem]"
            >
              <p class="text-base font-semibold leading-6 font-[Inter] text-[#F8FAFC]">
                {{ testimonial.author }}
              </p>
              <p class="text-sm font-normal leading-[1.375rem] font-[Inter] text-[#E2E8F0]">
                {{ testimonial.company }}
              </p>
            </div>
          </div>
        </div>
      </c-carousel-item>
    </c-carousel-inner>
  </c-carousel>
</section>
